.Stripes {
  width: 50px;
  height: 150px;
  font-size: 10rem;
  transform: rotate(-45deg);
  overflow: hidden;
  margin-top: -60px;

  background-repeat: repeat;
  background-image: radial-gradient(circle at 2.5px, yellow 1px, transparent 0);
  background-size: 2.5px 2.5px;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  // background: repeating-linear-gradient(
  //   45deg,
  //   transparent,
  //   transparent 25px,
  //   black 10px,
  //   black 50px
  // );
}
