.WIP {
  margin: 50px;
  position: relative;
  font-family: "Tomorrow", sans-serif;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  z-index: 1000;
  font-weight: 700;
  overflow: hidden;

  border-top: 1px solid #ffffff62;
  border-bottom: 1px solid #ffffff62;

  background: transparent;
  box-shadow: 0 4px 30px rgba(238, 255, 1, 0.175);
}

.TextContainer {
  display: flex;
  align-content: baseline;
  justify-content: center;
  position: absolute;

  width: 200%;
  transition: transform 1s ease;
  animation: shift 10s linear infinite;
}

.Text {
  margin-left: 30px;
  font-size: 2.5rem;
  white-space: nowrap;
  margin-top: -5px;
  background: transparent;
  background-repeat: repeat;
  background-image: radial-gradient(circle at 2.5px, yellow 1px, transparent 0);
  background-size: 2.5px 2.5px;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@keyframes shift {
  0% {
    transform: translateX(-37%);
  }
  100% {
    transform: translateX(0%);
  }
}
