.Toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  padding: 4px;
  border-radius: 34px;
  border: 1px solid #ffffff11;
}

// hide checkbox
.Toggle > input {
  opacity: 0;
  width: 0;
  height: 0px;
}

// slider background
.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #1d2025;
  border-radius: 34px;
}

// slider button
.Slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 8px;
  bottom: 4px;

  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: #00000014 1px 1px 1px;
  border-radius: 50%;

  animation: rainbow 5s linear infinite;
}

// input:checked + .Slider
.ToggleButton:checked + .Slider {
  background-color: #3f4654;
}

// input:checked + .Slider:before
.ToggleButton:checked + .Slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

// input:focus + .Slider
.ToggleButton:focus + .Slider {
  box-shadow: 0 0 1px #2196f3;
}

@keyframes rainbow {
  0% {
    background-color: rgb(255, 192, 192);
  }
  25% {
    background-color: rgb(192, 248, 255);
  }
  50% {
    background-color: rgb(229, 192, 255);
  }
  75% {
    background-color: rgb(255, 237, 192);
  }
  100% {
    background-color: rgb(245, 255, 192);
  }
}
