$neonyellow: #cfff04;

.FileDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  border: 3px solid white;
  border-radius: 5px;
  box-shadow: #000000 1px 0 10px;

  height: 300px;
  width: 800px;
}

.DropActive {
  background-color: #4a0000;
}
.DropInactive {
  background-color: #181818;
}
