$neonyellow: #cfff04;

.FileDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 3px dashed white;

  height: 300px;
  width: 800px;
}

.DropActive {
  background-color: #4a0000;
}
.DropInactive {
  background-color: #181818;
}

.FileDropZone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 200px;

  font-weight: 600;
}

.FileDropText {
  text-transform: uppercase;
  font-size: 16px;
  margin: 35px;
  letter-spacing: 1.5px;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.Sav {
  text-transform: lowercase;
}

code {
  border-radius: 5px;
  background-color: #3b3a3a;
  padding: 2px;
}
