.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;

  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.Header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

.Title {
  font-weight: 700;
  letter-spacing: 3px;

  &.Default {
    font-family: "Play", sans-serif;
    text-transform: uppercase;
    color: #ff0000;
    font-size: 30px;
    -webkit-text-stroke: 1px #000000ad;
    text-shadow: #000000 1px 0 10px;
  }

  &.Neon {
    font-family: "Neonderthaw", monospace;
    color: white;
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px #ff016ca6;
    text-shadow: #c2c2c2a8 1px 0 10px;
    margin: -25px;
    // font-family: "Tomorrow", sans-serif;
    // text-transform: uppercase;
  }
}

.Options {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 20px;
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1d1d1d;
  background-color: #0f0f0fbb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #464747;
  box-shadow: inset 0 0 5px #afafafeb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b38f00;
}
